body {
    background: linear-gradient(to bottom right, #ffff, 90%, #ff0000);
    text-align: center;
}

p {
    font-style: normal;
    text-align: justify;
}



img.profile {
    display: block;
    width: 50%;   
    margin-left: auto;
    margin-right: auto;
    
}



.github_link a{
    font-size: 60px;
    text-decoration: none;
}

.github_link a:active {
    color: yellow;
}

.github_link a:visited {
    color: indianred;
}

.github_link a:link {
    color: red;
}

.github_link a:hover {
    color: orangered;
    text-shadow: 5px 5px 5px black;
}

.table, td ,tr {
    border: 2px solid black;
    border-collapse: collapse;
}

.table tr {
    font-size: 20px;
}

.table{
    width: 100%;
}

img.album_pic {
    width: 100px;
    height: 100px:
}

h1, h2 {
    text-shadow: 1px 1px 2px
}

ul, ol {
    text-align: left;
}
