/*
    putting elemtnents as blocks makes easier to position them later.

    don't use IDs for styles, they are meant for JavaScript.

    Use JavaScript in external files.

    Emoji, found on unicode-table.com.

    Display and position can be easily overwritten.
*/
/*############## Defaults ###################*/
nav, 
header, 
footer {
    display: block;
} /*making sure that browser reads it as a blocks*/

body {
    line-height: 1; /*space between text*/
    margin: 0; /*making sure that everything is sucked to the edges */
}

.container {
    width: 100%; /*making sure that the content takes 100% of the website*/
    margin: auto; /* keeps all of the content in the middle*/
    padding-top: 4%; /* separates each section by some padding on the top and bottom*/
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex; /*changing size with the screen*/
    flex-wrap: wrap; /*all of the elements inside this row are wrap underneaf.*/
    align-items: center; 
}

/*after action*/
.row::after {
    display: table;
    clear: both; /*removes any floats that are inherited*/
    content="";
}

.col-1 {width: 8.33%}
.col-2 {width: 16.33%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

/*############## Nav Bar ###################*/

nav {
    width: 100%; /*taking 100% of the avaialbe space */
    margin: 0;
    
}

nav ul {
    background-color: #eee;
    overflow: hidden; /* any of the elemtats that are too big to fit for the screen are setting hidden | helping with user experiance*/
    margin: 0; 
    padding: 0;
}

nav ul li {
    list-style: none; /*guarantee no bullets points*/
}

ul.topnav li {
    float: left; /* inline elements to the left */
}

ul.topnav li.topnav-right {
    float: right; /* inline elements to the left */
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px; /*making sure that shrinking will not change the size of font lower than 16px | could be done in a way: font-size: 16px; */
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}


/*############## Custom Styles ###################*/
/*############## Section 1 ###################*/
#section-1-gradient {
    background: #076DFF; /*for browsers that not support gradient*/
    background: linear-gradient(#076DFF, #65a5ff)
}

/* It is flex hence it build whole section and then see how it looks like. */
div.leftSide-col,
div.rightSide-col {
    margin-left:30%;
}

h1.sectionOne {
    color: white;
    font-size: 56px;
    margin: 0;
    line-height: 70px
}

form h2 {
    color:white;
}

/* atribute selector */
input[type="text"] {
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}
/*############## Section 2 ###################*/
.sectionTwo .sectionTwoImg{
    margin-left: 10%;
}
/*############## Mobile styles ###################*/
@media screen and (max-width: 680px) {
    /* allows to keep home on the top bar */
    /* 
        :not means that the thing in brackets will not be affected.
        :nth-child(n) chooses which element will not be affected where n
    is the number.
    */
    ul.topnav li:not(:nth-child(1)){  
        display: none;
    }
    
    /* holds signs links to the right side. */
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    
    /*  Holds menu button in the corner.
        An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed). However; if an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling.
    */
    ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
    }
   
    /*
        An element with position: relative; is positioned relative to its normal position. Setting the top, right, bottom, and left properties of a relatively-positioned element will cause it to be adjusted away from its normal position. Other content will not be adjusted to fit into any gap left by the element.
    */
    ul.topnav.responsive {
        position: relative; 
    }
    
    ul.topnav.responsive li {
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: center;
    }
    
    /*adding margin of 0 is a godd practise. */
    .col-6,
    .col-6 {
        width: 100%;
        margin: 0px;
    }
    
    div.leftSide-col,
    div.rightSide-col {
        margin: 15px;
    }
    
    input[type="text"]{
        width: 350px;
    }
    
    div.videoContainer iframe{
        display: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
}



















